@{
    ViewData["Title"] = "Contato";
}

<!-- Subhead
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>Contate-nos</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                            Início
                        </a>
                        <span class="divider">/</span>
                    </li>
                    <li class="active">Contate-nos</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-windows icon-3x active"></i>
                        <h4><strong>Manutenção</strong></h4>
                        <p>
                            Consertamos e configuramos seu PC ou notebook: Windows, Linux e Apple.
                        </p>
                    </div>
                </div>
                <br />
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            <i class="icon-chevron-right"></i> Upgrade e configuração
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Lentidão, travamento, virus são pragas que ameaçam seu computador. Configuramos, damos manutenção e otimizamos o funcionamento do seu PC ou Notebook em: Windows, Linux e Apple.
                        </div>
                    </div>
                </div>
                <br />
                <div class="priceBox special">
                    <h4 class="light">Reinstalação com Backup</h4>
                    <hr>
                    <span class="emphasis">
                        R$ 85,00<br /><em> Taxa única </em>
                    </span>
                    <hr>
                    <span>
                        Formatação <i class="icon-chevron-right"></i>
                        R$ 70,00 <br /><em> Taxa única </em>
                    </span>
                    <hr>
                    <span>Upgrade<br /><em> peça um orçamento </em></span>
                    <hr>
                    <span class="emphasis-2"><a class="btn btn-large btn-color btn-rounded" href="#">Solicite uma visita</a></span>
                </div>
            </div>
            <div class="span3">
                <div class="well">
                    <div class="centered e_bounce">
                        <i class="icon-bg-light icon-circled icon-bitcoin icon-3x active"></i>
                        <h4><strong>Consultoria ERP</strong></h4>
                        <p>
                            Analisamos suas necessidades e inicamos a implantação do ERP para informatizar seu negócio.
                        </p>
                    </div>
                </div>
                <br />
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <i class="icon-chevron-right"></i> ERP para informatizar seu negócio
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Qual a posição do estoque? O cadastro está vinculado com as Notas Fiscais ou tudo tem que ser preenchido o tempo todo?
                            Chega de retrabalho e de tarefas repetitivas! Sua empresa na Era Digital, dê adeus as planilhas!
                            ERP - Tudo Online: Cadastro, Nota Fiscal Eletrônica, Controle Financeiro, Controle de Estoque, Vendas, e Serviços.
                        </div>
                    </div>
                </div>
                <br />
                <div class="priceBox special">
                    <h4 class="light">ERP para a Pequena Empresa</h4>
                    <hr>
                    <span class="emphasis">
                        R$ 89,00<br /><em> mensais </em>
                    </span>
                    <hr>
                    <span>
                        Plano de Negócio <i class="icon-chevron-right"></i>
                        R$ 300,00<br /><em> Taxa única </em>
                    </span>
                    <hr>
                    <span>
                        Implantação <i class="icon-chevron-right"></i>
                        R$ 900,00<br /><em> Taxa única </em>
                    </span>
                    <hr>
                    <span class="emphasis-2"><a class="btn btn-large btn-color btn-rounded" href="#">Solicite uma visita</a></span>
                </div>
            </div>
        </div>
    </div>

</section>
