@{
	ViewData["Title"] = "Marketing";
}

<!-- Subhead
================================================== -->
<section id="subintro">
	<div class="container">
		<div class="row">
			<div class="span4">
				<h3><strong>Marketing Digital - Online</strong></h3>
			</div>
			<div class="span8">
				<ul class="breadcrumb notop">
					<li>
						<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
							Início
						</a>
						<span class="divider">/</span>
					</li>
					<li class="active">Marketing</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="maincontent">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="well">
					<div class="centered e_bounce">
						<i class="icon-bg-light icon-circled icon-dollar icon-3x active"></i>
						<h4><strong>"Google Negócio"</strong> - Seja visto!</h4>
						<p>
							Configuramos sua conta, atualizamos seus anúncios e postagens.
							<br />
						</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="well">
					<div class="centered e_bounce">
						<i class="icon-bg-light icon-circled icon-facebook icon-3x active"></i>
						<i class="icon-bg-light icon-circled icon-instagram icon-3x active"></i>
						<i class="icon-bg-light icon-circled icon-google-plus icon-3x active"></i>
						<i class="icon-bg-light icon-circled icon-twitter icon-3x active"></i>
						<h4><strong>Seu perfil</strong> sempre atualizado</h4>
						<p>
							Seu perfil nas redes sociais personalizado com suas cores e logomarca, mais postagens semanais. <br />
						</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="well">
					<div class="centered e_bounce">
						<i class="icon-bg-light icon-circled fas fa-check-double icon-3x active"></i>
						<h4><strong>Modernize</strong> seu site</h4>
						<p>
							Seu site pronto para celulares e tablets com um designe moderno e atraente.
							
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<ul class="portfolio-area da-thumbs">
				<li class="portfolio-item" data-id="id-0" data-type="web">
					<div class="span4">
						<div class="thumbnail">
                            <div class="image-wrapp">
                                <img src="~/assets/img/dblv-sites-370x230-gmn1.png" />
                                <article class="da-animate da-slideFromRight">
                                    <a class="zoom" data-pretty="prettyPhoto" href="~/assets/img/dblv-site-thumb-570x400_consultoria1.png">
                                        <i class="icon-bg-light icon-zoom-in icon-circled icon-2x"></i>
                                    </a>
                                </article>
                            </div>
							<div class="desc">
								<h5><i class="icon-google-plus"></i> <strong>"Google Meu Negócio"</strong></h5>
								<p>Visibilidade é tudo!</p>
							</div>
						</div>
					</div>
				</li>
				<li class="portfolio-item" data-id="id-0" data-type="web">
					<div class="span4">
						<div class="thumbnail">
                            <div class="image-wrapp">
                                <img src="~/assets/img/dblv-sites-370x230-busines2.png" />
                                <article class="da-animate da-slideFromRight">
                                    <a class="zoom" data-pretty="prettyPhoto" href="~/assets/img/dblv-site-thumb-570x400-rede1.png">
                                        <i class="icon-bg-light icon-zoom-in icon-circled icon-2x"></i>
                                    </a>
                                </article>
                            </div>
							<div class="desc">
								<h5><i class="icon-file"></i> <strong>Seu perfil </strong></h5>
								<p>Suas cores, sua marca, seus produtos</p>
							</div>
						</div>
					</div>
				</li>
				<li class="portfolio-item" data-id="id-0" data-type="web">
					<div class="span4">
						<div class="thumbnail">
                            <div class="image-wrapp">
                                <img src="~/assets/img/dblv-sites-370x230-responsivo1.png" />
                                <article class="da-animate da-slideFromRight">
                                    <a class="zoom" data-pretty="prettyPhoto" href="~/assets/img/dblv-site-thumb-570x400-responsivo1.png">
                                        <i class="icon-bg-light icon-zoom-in icon-circled icon-2x"></i>
                                    </a>
                                </article>
                            </div>
							<div class="desc">
								<h5><i class="icon-file"></i> <strong>Site Responsivo</strong></h5>
								<p>Visual moderno e atraente</p>
							</div>
						</div>
					</div>
				</li>
				<li class="portfolio-item" data-id="id-0" data-type="web">
					<div class="span4">
						<div class="priceBox special">
							<h4 class="light">Google Meu Negócio</h4>
							<hr>
							<span class="emphasis">R$ 150,00 <em>taxa única</em></span>
							<hr>
							<span>Configuração</span>
							<hr>
							<span>1 Anúncio</span>
							<hr>
							<span>Atualização de conteúdo</span>
							<hr>
							<span>Plano mensal R$ 100,00</span>
							<hr>
							<span>com atualização semanal</span>
							<hr>
							<span class="emphasis-2"><a class="btn btn-large btn-color btn-rounded" href="#">Peça agora</a></span>
						</div>
					</div>
				</li>
				<li class="portfolio-item" data-id="id-0" data-type="brand">
					<div class="span4">
						<div class="priceBox">
							<h4 class="light">Rede Social Profissional</h4>
							<hr>
							<span class="emphasis">R$ 75,00 <em>cada post</em></span>
							<hr>
							<span>Suas cores</span>
							<hr>
							<span>Sua marca</span>
							<hr>
							<span>Seus produtos</span>
							<hr>
							<span>Plano mensal R$ 60,00</span>
							<hr>
							<span>com atualização semanal</span>
							<hr>
							<span class="emphasis-2"><a class="btn btn-large btn-color btn-rounded" href="#">Peça agora</a></span>
						</div>
					</div>
				</li>
				<li class="portfolio-item" data-id="id-0" data-type="web">
					<div class="span4">
						<div class="priceBox">
							<h4 class="light">Site Moderno</h4>
							<hr>
							<span class="emphasis">R$ 250,00 <em>taxa única</em></span>
							<hr>
							<span>4 Páginas</span>
							<hr>
							<span>2 Formulários</span>
							<hr>
							<span>Hospedagem R$ 35,00 - mensal</span>
							<hr>
							<span>Atualizações R$ 50,00</span>
							<hr>
							<span>Plano mensal R$ 75,00</span>
							<hr>
							<span class="emphasis-2"><a class="btn btn-large btn-color btn-rounded" href="#">Peça agora</a></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>