@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Bairros";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Soluções</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li>
                                @Html.ActionLink("Bairros", "VigilanciaSolidaria", "Solucoes", null, new { @class = "" })
                            </li>
                            <li class="active">
                                @Html.ActionLink("Vigilância Solidária", "VigilanciaSolidaria", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Projeto Detecta", "Detecta", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Imprensa", "Imprensa", "Solucoes", null, new { @class = "" })
                            </li>
                        </ul>
                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Projeto VIZINHANÇA SOLIDÁRIA</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-weight:bold">
                                A TOPSYSTEC é colaboradora na divulgação do projeto Vizinhança Solidária da Polícia Militar nos bairros em Jundiaí-SP.
                            </p>
                            <p>
                                O Projeto VIZINHANÇA SOLIDÁRIA é um conjunto de medidas destinadas a conscientizar as pessoas de uma comunidade da sua importância
                                e responsabilidade na sua segurança pessoal e coletiva. Visa incentivar às ações de prevenção primária nos locais onde moram,
                                trabalham ou estudam. Na prática o programa é de adesão voluntária, aberto a qualquer pessoa. Ele pode ser implantado em qualquer comunidade.
                                A Prevenção Primária consiste nas ações destinadas a evitar ou reduzir a ocorrência de infrações penais por meio da identificação,
                                avaliação, ou redução de condições propícias ao delito, como: falta de iluminação, terrenos baldios, buracos nas ruas, imóveis
                                ou veículos abandonados, entre outros.
                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">
                        <div class="item">
                            <img src="~/Content/topsystec/imgs/topsystec/img_tps_550x330k.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/imgs/topsystec/img_tps_550x330l.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/imgs/topsystec/img_tps_550x330m.png" alt="" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                A participação aproxima os vizinhos, demonstra a importância de cada um na vigilância do local, desenvolve o segmento de responsabilidade social,
                                dissipa as diferenças e melhora a organização urbana.
                                A Polícia Militar é responsável por ofertar aos integrantes da comunidade ou seus representantes a implantação do programa,
                                a realização de palestras de conscientização sobre ações de prevenção primária acerca de medidas básicas de segurança pessoal
                                e coletiva. A comunidade deve se organizar buscando a aproximação de seus integrantes para implementação do Programa e escolher quem serão os tutores.
                            </p>
                            <p>
                                A implantação do programa é gratuita, sendo que a comunidade poderá, caso considere necessário, custear equipamentos de segurança,
                                de comunicação ou elaboração de placas de identificação, que serão colocadas nos locais onde o programa é desenvolvido.
                            </p>
                            <a href="http://www.policiamilitar.sp.gov.br/noticias/noticia-interna/2019/1/1999/vizinhanca-solidaria">Fonte de informação</a>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div class="call-to-action classic">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="call-to-action-text">
                                    <h3 class="action-title">FAÇA AGORA SUA ADESÃO</h3>
                                </div>
                            </div><!-- Col end -->
                            <div class="col-md-3">
                                <div class="call-to-action-btn">
                                    <a class="btn btn-primary" href="#">Adesão</a>
                                </div>
                            </div><!-- col end -->
                        </div><!-- row end -->
                    </div><!-- Action end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->
