@{
    ViewData["Title"] = "Quem Somos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--==========================
     Quem Somos
   ============================-->
<section id="quemsomos">
    <div class="container">
        <div class="row about-cols">
            <header class="section-header">
                <br /><br /><br /><br />
                <h3><img src="~/Content/img/apc/logos/apc_logo_480x73.png" style="max-width:35%" /></h3>
                <h3>Quem Somos</h3>
                <p>
                    A All Protection quer construir uma experiência de valor quando se trata de levar <br />
                    até você e sua empresa as melhores opções em seguros!
                </p>
            </header>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col card border-primary mb-3">
                    <div class="card-header text-white bg-primary">
                        <strong>Missão</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="title">Nossa missão é</h5>
                        <p class="card-text">
                            Construir estudos personalizados que atenda a necessidade de cada cliente e <br />
                            garanta proteção patrimonial e padrão familiar em sua presença ou ausência por meio do seguro!
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col card border-primary mb-3">
                    <div class="card-header text-white bg-primary">
                        <strong>Visão</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="title">Nossa visão é</h5>
                        <p class="card-text">
                            Ser a Corretora de seguros mais admirada no Brasil, 
                            por estabelecer interesse genuíno no bem estar de cada cliente.<br /><br />
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col card border-primary mb-3">
                    <div class="card-header text-white bg-primary">
                        <strong>Valores</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="title">Nossos valores são</h5>
                        <p class="card-text">
                            Honestidade, Transparência, Coragem, <br />
                            Trabalho e Amor Genuíno ao próximo!<br /><br /><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #quemsomos -->