@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/tecsistem/css/estilos.css" rel="stylesheet" />
    @Styles.Render("~/Content/tecsistem/css", "~/Content/tecsistem/css/bootstrap.css",
    "~/Content/tecsistem/css/bootstrap-responsive.css")
    <title></title>
</head>
<body>
    <div id="site">

        <div id="header"></div>
        <div id="conteudo" style="text-align:center !important; vertical-align:middle !important">
            <img src="~/Content/tecsistem/img/logo/tecsistem_logo900x455.jpeg" style="max-width:35%" />
            <br />
            <a class="btn btn-color btn-rounded" href="mailto:agendamento@tecsistemsistemas.com.br">agendamento@tecsistemsistemas.com.br</a>

        </div>
        <div id="footer"></div>

    </div>
</body>
</html>
