
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Quem Somos";
}
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="post-content post-single">
                    <div class="post-media post-image image-angle">
                        <img src="~/Content/topsystec/images/topsystec//news_img_750x450b.jpg" class="img-responsive" alt="">
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <h2 class="entry-title">
                                <a href="#">Soluções Inteligentes para Bairros, Empresas e Condomínios</a>
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>
                                Com quase 30 anos de atuação e experiência no mercado, contamos atualmente com vários parceiros de negócios e uma equipe de colaboradores.
                                Tendo ao longo deste tempo, encontrado soluções e aperfeiçoamentos para atender às mais diversas necessidades de tecnologia de informações.
                            </p>
                            <p>
                                Para serviços gerais, as empresas que trabalham conosco poderão contar com profissionais especializados, no momento em que eles
                                se fizerem necessários, complementando assim os conhecimentos técnicos da equipe de informática.
                                O principal objetivo da TOPSYSTEC TECNOLOGIA é a satisfação dos seus clientes em tudo que se refere à tecnologia de informática.
                            </p>
                            <p>
                                Dentro deste compromisso de qualidade, a TOPSYSTEC TECNOLOGIA mantém-se no mercado bem competitivo e tem aprimorado cada vez mais
                                a sua estrutura de atendimento, a fim de propiciar aos seus clientes as soluções mais adequadas.
                                Atualmente, a TOPSYSTEC TECNOLOGIA é especializada em atendimentos a empresas de diversos segmentos, oferecendo assistência
                                especializada para manutenções de computadores, cancelas, catracas, sistema de monitoramento, e outras soluções.
                                Estamos presentes nas cidades de Jundiaí e São Paulo -SP.
                            </p>
                            <p>
                                Hoje, em parceria com DELL, MICROSOFT, IBM, SYMANTEC e demais, nos especializamos em atendimento a empresas de diversos segmentos,
                                oferecendo consultoria de TI, análise de risco de segurança cibernética, outsourcing de equipamentos/profissionais de TI,
                                assistência especializada para equipamentos, sistema de câmeras e outros equipamentos/soluções.
                            </p>
                        </div>
                    </div><!-- post-body end -->
                </div><!-- post content end -->

            </div><!-- Content Col end -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">

                    <div class="widget recent-posts">
                        <h3 class="widget-title">Soluções e Parcerias</h3>
                        <ul class="unstyled clearfix">
                            <li>
                                <div class="posts-thumb pull-left">
                                    <img src="~/Content/topsystec/images/topsystec//img_tps_180x165_logo_assespro.jpg" />
                                </div>
                                <div class="post-info">
                                    <p class="entry-content">
                                        Somos membros da ASSESPRO SÃO PAULO, que é a mais antiga entidade do setor de tecnologia no Brasil
                                        e uma das mais tradicionais no mundo.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 1st post end-->

                            <li>
                                <div class="posts-thumb pull-left">
                                    <img src="~/Content/topsystec/images/topsystec//img_tps_180x165_logo_abese.png" />
                                </div>
                                <div class="post-info">
                                    <p class="entry-content">
                                        Somos membros da ABESE (Associação de empresas de Sistemas Eletrônicos), onde temos o Selo de Qualidade ABESE,
                                        que uma certificação que diferencia as empresas do segmento que primam pelo atendimento profissional aos seus clientes.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 2st post end-->

                            <li>
                                <div class="posts-thumb pull-left">
                                    <img src="~/Content/topsystec/images/topsystec//img_tps_180x165_logo_dell.png" />
                                </div>
                                <div class="post-info">
                                    <p class="entry-content">
                                        A TOPSYSTEC faz parte de uma equipe elite de especialistas de TI da DELL. Com isso,
                                        poderão contar com uma equipe treinada diretamente pela maior fabricante de servidores e estações do mundo.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 3th post end-->

                            <li>
                                <div class="posts-thumb pull-left">
                                    <img src="~/Content/topsystec/images/topsystec//img_tps_330x165_logo_microsoft.png" />
                                </div>
                                <div class="post-info">
                                    <p class="entry-content">
                                        A TOPSYSTEC é parceira Microsoft, fazendo parte de uma comunidade global que conecta os nossos clientes a ferramentas, recursos e programas que precisa para impulsionar o crescimento dos seus negócios.
                                        Impulsione a transformação digital de seus negócios com ferramentas MICROSOFT.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 4th post end-->
                        </ul>

                    </div><!-- Recent post end -->

                    <div class="widget">
                        <h3 class="widget-title">Missão:</h3>
                        <p>
                            Associar experiência tecnológica, responsabilidade, seriedade, confiabilidade
                            e comprometimento com o cliente, visando a sua maior e total satisfação.
                        </p>
                    </div><!-- Categories end -->

                    <div class="widget">
                        <h3 class="widget-title">Visão:</h3>
                        <p>
                            Tornar-nos referência em soluções de tecnologia e suporte a condomínios, condôminos e empresas em geral.
                        </p>
                    </div><!-- Archives end -->

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Valores: </h3>

                        <ul class="unstyled clearfix">
                            <li><a href="#">Responsabilidade</a></li>
                            <li><a href="#">Confiabilidade</a></li>
                            <li><a href="#">Disponibilidade</a></li>
                            <li><a href="#">Profissionalismo</a></li>
                            <li><a href="#">Clareza em todo o aspecto profissional</a></li>
                            <li><a href="#">Domínio do negócio</a></li>
                            <li><a href="#">Prontidão no suporte</a></li>
                            <li><a href="#">Comprometimento com o cliente</a></li>
                            <li><a href="#">Ética</a></li>
                        </ul>
                    </div><!-- Tags end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
