 <!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo" style="text-align:center">
                                <img src="~/Content/tecsistem/img/logo/logo_102x50_texto_preto.png" alt="Início"
                                     title="Tec Sistem Sistemas" style="max-width:42% !important;" />
                            </div>

                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Contatos</h4>
                            <p>
                                Fale conosco em nossos canais de comunicação!
                            </p>
                            <div class="footer-contacts">
                                <p><span>Fone: </span><a href="tel:+551143236944">+55 11 4323-6944</a></p>
                                <p><span>Celular: </span><a href="tel:+5511941672104">+55 11 94167-2104</a></p>
                                <p><span>E-mail:</span>contato@tecsistemsistemas.com.br</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v1.jpg" /> 
                                </a>
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v2.jpg" />
                                </a>
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v3.jpg" />
                                </a>
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v4.jpg" />
                                </a>
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v5.jpg" />
                                </a>
                                <a href="#">
                                    <img src="~/Content/tecsistem/img/portfolio/portif_800x640_v7.jpg" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            
                        </p>
                    </div>
                    <div class="credits">
                        Produzido por: <a href="http://dobleve.com.br/">Doblevê</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
