@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <!-- Navbar
    ================================================== -->
    <div class="row-fluid">
        <div class="cbp-af-header">
            <div class=" cbp-af-inner">
                <div class="container">
                    <div class="row-fluid">
                        <div class=" col-md-4 span4">
                            <!-- logo -->
                            <div class="logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                                    <img class="" src="~/assets/img/icons/dblv_logo_home_bco224x66.png" alt="" width="224px" height="66px" />
                                </a>
                            </div>
                            <!-- end logo -->
                        </div>
                        <div class=" col-md-8 span8">
                            <!-- top menu -->
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <nav>
                                        <ul class="nav topnav">
                                            <li class="dropdown">
                                                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                                                    Início
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a asp-area="" asp-controller="Consultoria" asp-action="Index" class="navbar-brand">
                                                    Consultoria
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a asp-area="" asp-controller="Marketing" asp-action="Index" class="navbar-brand">
                                                    Marketing
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a asp-area="" asp-controller="Servicos" asp-action="Index" class="navbar-brand">
                                                    Serviços
                                                </a>
                                             </li>
                                            <li>
                                                <a asp-area="" asp-controller="Contato" asp-action="Index" class="navbar-brand">
                                                    Contato
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="" asp-action="Index" class="navbar-brand">
                                                    Login
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- end menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>