@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Bairros";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Solutions</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li><a href="service-single.html">Home Construction</a></li>
                            <li class="active"><a href="service-single.html">Building Remodels</a></li>
                            <li><a href="#">Interior Design</a></li>
                            <li><a href="#">Exterior Design</a></li>
                            <li><a href="#">Renovation</a></li>
                            <li><a href="#">Safety Management</a></li>
                        </ul>
                    </div><!-- Widget end -->

                    <div class="widget">
                        <div class="quote-item quote-border">
                            <div class="quote-text-border">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                            </div>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="~/Content/topsystec/imgs/clients/testimonial1.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Weldon Cash</h3>
                                    <span class="quote-subtext">CEO, First Choice Group</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->

                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Vizinhança Colaborativa</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat. Maecenas nibh dolor, malesuada et bibendum a, sagittis accumsan ipsum. Pellentesque ultrices ultrices sapien.</p>
                            @*<p>Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. , nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem</p>*@
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    @*<div class="gap-40"></div>*@
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls="controls" autoplay="autoplay">
                            <source src="~/Content/topsystec/video/vigilancia_colaborativa.mp4" type="video/mp4"
                                    poster="~/Content/topsystec/imgs/topsystec/capa_video_vigilancia.png"
                                    preload="none">
                        </video>
                        @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>*@
                    </div>

                    @*<div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">
                        <div class="item">
                            <img src="~/Content/topsystec/imgs/projects/project1.jpg" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/imgs/projects/project2.jpg" alt="" />
                        </div>
                    </div>*@
    <!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="column-title-small">Conceito inovador de segurança e monitoramento</h3>

                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Consectetur adipiscing elit. Integer adipiscing erat eget risus sollicitudin pellentesque et non erat tincidunt nunc posuere.</p>
                            <ul class="list-arrow">
                                <li>Partnership Strategy tristique eleifend.</li>
                                <li>Opporutnity to work with amet elit a.</li>
                                <li>Saving Time to Deal with commodo iaculis.</li>
                                <li>Leadership skills to manage erat volutpat.</li>
                                <li>Cut cost without sacrificing dolore magna.</li>
                                <li>Automate your business elis tristique.</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h3 class="column-title-small">Melhor custo-benefício</h3>

                            <div class="panel-group panel-classic" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do You Support Collaborative Communication</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata</p>
                                        </div>
                                    </div>
                                </div><!--/ Panel 1 end-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">What is the Budget &amp; Cost Development</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata</p>
                                        </div>
                                    </div>
                                </div><!--/ Panel 2 end-->


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">What About Schedule Development</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata</p>
                                        </div>
                                    </div>
                                </div><!--/ Panel 3 end-->

                            </div><!--/ Accordion end -->
                        </div>
                    </div><!--2nd row end -->

                    <div class="gap-40"></div>

                    <div class="call-to-action classic">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="call-to-action-text">
                                    <h3 class="action-title">Interested with this service.</h3>
                                </div>
                            </div><!-- Col end -->
                            <div class="col-md-3">
                                <div class="call-to-action-btn">
                                    <a class="btn btn-primary" href="#">Get a Quote</a>
                                </div>
                            </div><!-- col end -->
                        </div><!-- row end -->
                    </div><!-- Action end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->
