@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Bairros";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Soluções</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li class="active">
                                @Html.ActionLink("Bairros", "VigilanciaSolidaria", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Vigilância Solidária", "VigilanciaSolidaria", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Projeto Detecta", "Detecta", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Imprensa", "Imprensa", "Solucoes", null, new { @class = "" })
                            </li>
                        </ul>
                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Projeto Vizinhança Colaborativa</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                O seu bairro sendo uma referência de segurança na sua cidade! Este projeto é uma inovação inteligente de segurança. 
                                Os moradores compartilham o mesmo sistema de segurança e garantem a vigilância da sua rua e do seu bairro.
                                Um sistema especializado no gerenciamento de câmeras em nuvem, que oferece serviços online de armazenamento, 
                                acesso, reprodução e compartilhamento de imagens e vídeos captados pelo sistema de câmeras do usuário.
                            </p>
                            @*<p>Nam scelerisque tristique dolor vitae tincidunt. Aenean quis massa uada mi elementum elementum. , nec tincidunt nunc posuere ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem</p>*@
                        </div><!-- col end -->
                    </div><!-- 1st row end-->
                    @*<div class="gap-40"></div>*@
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls="controls" autoplay="autoplay" poster="~/Content/topsystec/images/topsystec/capa_video_vigilancia.png">
                            <source src="~/Content/topsystec/video/vigilancia_colaborativa.mp4" type="video/mp4"
                                    poster="~/Content/topsystec/images/topsystec//capa_video_vigilancia.png"
                                    preload="none">
                        </video>
                        
                    </div>

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="column-title-small">Conceito inovador de segurança e monitoramento</h3>

                            <ul class="list-arrow">
                                <li>Proporcionar um ambiente auto monitorado, ajudando a reduzir caso de roubos, furtos, conflitos, vandalismo e principalmente: GARANTIR A SEGURANÇA DE SUA FAMÍLIA E DE SEUS NEGÓCIOS</li>
                                <li>Melhorar a comunicação da comunidade focado em um bem maior a todos, reduzindo a taxa de criminalidade da região</li>
                                <li>Executar projeto adequado para uso de CFTV na nuvem</li>
                                <li>Proporcionar um nível maior de segurança de imagens</li>
                                <li>Oferecer um sistema de monitoramento funcional e prático para que cada morador possa contribuir com a segurança do bairro</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="column-title-small">FUNCIONALIDADES DO SISTEMA</h3>

                            <div class="panel-group panel-classic" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Segurança no armazenamento de imagens
                                            </a>
                                        </h4>
                                    </div>
                                </div><!--/ Panel 1 end-->

                                <div class="panel panel-default">
                                    <div class="panel-heading">

                                        <ul class="list-arrow">
                                            <li>Segurança no armazenamento de imagens</li>
                                            <li>Acesso remoto e visualização ao vivo das imagens</li>
                                            <li>Compartilhamento de vídeos</li>
                                            <li>Automação de alertas</li>
                                            <li>Validação do funcionamento do parque de câmeras</li>
                                            <li>Centralização de dados</li>
                                            <li>Facilidade e agilidade na recuperação</li>
                                            <li>Suporte técnico e treinamento por profissionais especializados</li>
                                        </ul>
                                    </div>
                                </div><!--/ Accordion end -->
                            </div>
                        </div><!--2nd row end -->

                        <div class="gap-40"></div>

                        <div class="call-to-action classic">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="call-to-action-text">
                                        <h3 class="action-title">FAÇA AGORA SUA ADESÃO</h3>
                                    </div>
                                </div><!-- Col end -->
                                <div class="col-md-3">
                                    <div class="call-to-action-btn">
                                        <a class="btn btn-primary" href="#">Adesão</a>
                                    </div>
                                </div><!-- col end -->
                            </div><!-- row end -->
                        </div><!-- Action end -->

                    </div><!-- Content inner end -->
            </div><!-- Content Col end -->

        </div><!-- Main row end -->
    </div>
    </div><!-- Conatiner end -->
</section><!-- Main container end -->
