@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Condomínios";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Soluções</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li>
                                @Html.ActionLink("Condomínios", "Condominio", "Solucoes", null, new { @class = "" })
                            </li>
                            <li class="active">
                                @Html.ActionLink("Automação residencial ", "Condominio2", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Equipamentos para Controle de Acesso ", "Empresa3", "Solucoes", null, new { @class = "" })
                            </li>
                        </ul>
                    </div><!-- Widget end -->

                    <div class="widget">
                        <div class="quote-item quote-border">
                            <div class="quote-text-border">

                            </div>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="images/clients/testimonial1.png" alt="">
                                <div class="quote-item-info">
                                    <h3 class="quote-author"></h3>
                                    <span class="quote-subtext"></span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->

                    </div><!-- Widget end -->

                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Soluções para seu Condomínio</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <b>AUTOMAÇÃO RESIDENCIAL (CASA INTELIGENTE):  </b>
                                Gostaria de controlar a sua casa usando o smartphone ou o tablet?
                                Com as soluções de automação residencial da TOPSYSTEC, basta um simples comando no tablet ou no celular
                                para acender as luzes, ligar o ar condicionado ou fechar as cortinas. E tudo isso pode ser acionado
                                antes mesmo de entrar em casa.
                            </p>
                            <p>
                                <b>SISTEMA DE CÂMERAS E ALARMES: </b>
                                É possível controlar visualmente a sua residência mesmo estando fora do país pela internet, usando o tablet, celular ou PC. 
                                Poderá também visualizar imagens em tempo real, evitando vários problemas com prestadores de serviço, visitantes, 
                                empregados, etc. Na residência, poderá visualizar de qualquer TV.
                                Uma das nossas soluções é o sistema de alarme, que pode ser ativado ou desativado por um teclado ou pelo tablet. 
                                É possível também:
                            </p>
                            <ul class="list-arrow">
                                <li>Verificar o status da central em tempo real</li>
                                <li>Armar/desarmar o sistema de alarme</li>
                                <li>Conectar com IP fixo ou dinâmico</li>
                                <li>Receber notificações do status da central</li>
                                <li>Dentre outros</li>
                            </ul>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">
                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330p.png" alt="" />
                        </div>
                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330i.png" alt="" />
                        </div>
                    </div><!-- Page slider end -->
                    <div class="gap-40"></div>

                    <div class="call-to-action classic">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="call-to-action-text">
                                    <h3 class="action-title">Peça um orçamento personalizado.</h3>
                                </div>
                            </div><!-- Col end -->
                            <div class="col-md-3">
                                <div class="call-to-action-btn">
                                    <a class="btn btn-primary" href="#">Orçamento</a>
                                </div>
                            </div><!-- col end -->
                        </div><!-- row end -->
                    </div><!-- Action end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->