@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Condomínios";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Soluções</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li class="active">
                                @Html.ActionLink("Condomínios", "Condominio", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Automação residencial ", "Condominio2", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Equipamentos para Controle de Acesso ", "Empresa3", "Solucoes", null, new { @class = "" })
                            </li>
                        </ul>
                    </div><!-- Widget end -->
                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Soluções para seu Condomínio</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <b>SISTEMA DE CONTROLE DE ACESSO:</b>
                                A TOPSYSTEC é parceira da empresa VIP-SYSTEMS, comercializa o sistema Vip-Systems Access Control (VSAC), que foi desenvolvido com o objetivo de proporcionar o controle de acesso de pedestres e veículos de forma eficiente e eficaz, disponibilizando informações precisas e úteis ao dia-a-dia.
                                Este sistema está adaptado para trabalhar de forma automatizada com código de barras, cartão de proximidade, RFID, biometria e captura de placas no acionamento e cancelas, catracas, faróis, sirenes, CFTV, entre outras.
                                O sistema da VIP-SYSTEMS permite a geração de consultas e de relatórios diversos, que possibilitam responder:
                            </p>
                            <ul class="list-arrow">
                                <li>Quantos prestadores de serviços ou visitantes ainda estão no local?</li>
                                <li>Quem mudou alguma informação cadastral? Quando? Por quê? Qual?</li>
                                <li>Quem entrou e ainda não saiu?</li>
                                <li>Qual o tempo de permanência por categoria?</li>
                                <li>Quem ultrapassou o horário de permanência e onde está?</li>
                                <li>Quem autorizou o acesso ao condomínio?</li>
                                <li>Qual a restrição para entrar na residência?</li>
                                <li>O visitante tem acesso livre ou é credenciado?</li>
                            </ul>

                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">
                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330a.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330i.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330b.png" alt="" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="column-title-small">Benefícios do sistema:</h3>
                            <ul class="list-arrow">
                                <li>Controle de entradas e saídas de pedestres e veículos com fotos</li>
                                <li>Transmissão de recados on-line à portaria</li>
                                <li>Diversos relatórios gerenciais</li>
                                <li>Personalização de consultas e relatórios criados pelo próprio cliente</li>
                                <li>Permite associar as imagens de todos os usuários cadastrados para um determinado logradouro</li>
                                <li>Acionamento automático de cancelas, catracas e outros dispositivos</li>
                                <li>Controle de visitantes, autorizados, credenciados, eventuais, prestadores de serviços e condôminos/proprietários</li>
                                <li>Possui lista restritiva detalhada e os motivos pelos quais um determinado usuário foi proibido de acessar o empreendimento</li>
                                <li>Automação através de diversas tecnologias: cartões com código de barras, magnéticos, por proximidade, captura de placas de veículos, transponders, controle remoto com ID, Sem Parar, RFID e biometria</li>
                                <li>Controle do tempo de permanência: checagem on-line dos visitantes/prestadores de serviços que excederam o tempo limite para executar suas tarefas e auxilia a tomada de decisão pela segurança</li>
                                <li>Permite restringir dias e horários de acesso e permanência no local de trabalho, que serão checados a cada entrada e saída</li>
                                <li>Permite a confecção de crachás (carteirinhas) com código de barras, foto, o logotipo da empresa e os dados cadastrais</li>
                            </ul>
                        </div>

                    </div><!--2nd row end -->

                    <div class="gap-40"></div>

                    <div class="call-to-action classic">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="call-to-action-text">
                                    <h3 class="action-title">Peça um orçamento personalizado.</h3>
                                </div>
                            </div><!-- Col end -->
                            <div class="col-md-3">
                                <div class="call-to-action-btn">
                                    <a class="btn btn-primary" href="#">Orçamento</a>
                                </div>
                            </div><!-- col end -->
                        </div><!-- row end -->
                    </div><!-- Action end -->

                </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->