@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Soluções para Empresas";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar sidebar-left">
                    <div class="widget">
                        <h3 class="widget-title">Soluções</h3>
                        <ul class="nav nav-tabs nav-stacked service-menu">
                            <li class="active">
                                @Html.ActionLink("Consultoria", "Empresa", "Solucoes", null, new { @class = "" })
                            </li>
                            <li>
                                @Html.ActionLink("Suporte", "Empresa2", "Solucoes", null, new { @class = "" })
                            </li>
                        </ul>
                    </div><!-- Widget end -->
                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="content-inner-page">

                    <h2 class="column-title mrt-0">Soluções para sua empresa</h2>

                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <b>CONSULTORIA DE TI (TECNOLOGIA DA INFORMAÇÃO):</b> A TOPSYSTEC, como consultora, analisa possíveis soluções para resolver os pontos falhos quanto à tecnologia da informação.
                                Sugerimos soluções apropriadas para o cliente, de acordo com o modelo de negócios da empresa e com toda a estrutura já existente – a não ser, é claro, que o cliente queira fazer uma reforma geral.
                                A TOPSYSTEC faz parte de um grupo especial do programa Dell Experts e é parceiro MICROSOFT.
                            </p>
                            <p>
                                Este foi criado pela Dell especialmente para consultores de tecnologia, contando com uma equipe de vários profissionais dedicados a esse segmento.
                                Participando deste programa, o cliente pode ter a certeza de ter como parceiros consultores especializados no mercado de tecnologia.
                                Como membro credenciado deste programa, a TOPSYSTEC participa de treinamentos constantes, palestras, cursos e treinamento patrocinados pela 
                                Dell com a parceria da Microsoft, Intel e Alliance Training Center, com o objetivo de proporcionar aos consultores Dell Experts um conhecimento 
                                cada vez mais atual e bem específico em relação aos seus equipamentos e soluções.
                            </p>
                        </div><!-- col end -->
                    </div><!-- 1st row end-->

                    <div class="gap-40"></div>

                    <div id="page-slider" class="owl-carousel owl-theme page-slider page-slider-small">
                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330x.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330bb.png" alt="" />
                        </div>

                        <div class="item">
                            <img src="~/Content/topsystec/images/topsystec//img_tps_550x330z.png" alt="" />
                        </div>
                    </div><!-- Page slider end -->

                    <div class="gap-40"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="column-title-small">CONSULTORIA EM SEGURANÇA:</h3>
                            <p>
                                Define-se este serviço como sendo a atividade de apoio a condomínios e empresas com o objetivo de direcionar a 
                                tomada de decisões estratégicas, com grande impacto sobre os resultados atuais e futuros da organização.
                                <b>A TOPSYSTEC oferece este serviço, realizando:</b>
                            </p>
                            <ul class="list-arrow">
                                <li>Treinamento de pessoal</li>
                                <li>Levantamento de dados e informações</li>
                                <li>Mapeamento dos riscos e das vulnerabilidades</li>
                                <li>Análise dos dados e informações obtida</li>
                                <li>Definição do Planejamento Estratégico com as devidas definições</li>
                                <li>Desenvolvimento do Plano de Ação</li>
                                <li>Estruturação do relatório final</li>
                                <li>Apresentação do resultado</li>
                            </ul>
                        </div>

                    </div><!--2nd row end -->

                        <div class="gap-40"></div>

                        <div class="call-to-action classic">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="call-to-action-text">
                                        <h3 class="action-title">Peça um orçamento personalizado.</h3>
                                    </div>
                                </div><!-- Col end -->
                                <div class="col-md-3">
                                    <div class="call-to-action-btn">
                                        <a class="btn btn-primary" href="#">Orçamento</a>
                                    </div>
                                </div><!-- col end -->
                            </div><!-- row end -->
                        </div><!-- Action end -->

                    </div><!-- Content inner end -->
            </div><!-- Content Col end -->


        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->