<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div id="logo" class="pull-left">
                    <!--
                        <h1><a href="#intro" class="scrollto">BizPage</a></h1>
                         Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
                    <img src="~/Content/img/apc/logos/apc_logo_480x73.png" style="max-width:115%" />
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="#intro">Início</a></li>
                        <li>
                            <a asp-area="" asp-controller="Auto" asp-action="Index" class="navbar">
                                Automóvel
                            </a>
                        </li>
                        <li><a href="#services">Vida</a></li>
                        <li><a href="#portfolio">Empresarial</a></li>
                        <li><a href="#team">Transporte</a></li>
                        <li><a href="#team">Cotação</a></li>
                        <li class="menu-has-children">
                            <a href="">Contato</a>
                            <ul>
                                <li><a href="#">Fale Cosnosco</a></li>
                                <li><a href="#">Cotação</a></li>
                                <li><a href="#">Quem Somos</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
         </div>
    </div>
</header><!-- #header -->