@{
    ViewData["Title"] = "Condomínio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--==========================
      Services Section
    ============================-->
<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <br />
            <h3>
                Seguro para o seu condomínio na medida certa, <br />
                Ampla cobertura para atender seu condomínio.
            </h3>
        </header>

        <div class="row">
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bolt-outline"></i></div>
                <h4 class="title"><a href="">Incêndio ...</a></h4>
                <p class="description">
                    ... queda de raio, explosão
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-lightbulb-outline"></i></div>
                <h4 class="title"><a href="">Anúncios Luminosos ...</a></h4>
                <p class="description">
                    ... assistência 24 horas para Condomínios
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="">Alagamento ...</a></h4>
                <p class="description">
                    ... enchente, inundação
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-checkmark-outline"></i></div>
                <h4 class="title"><a href="">Danos elétricos ...</a></h4>
                <p class="description">
                    ... equipamentos eletrônicos
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-rainy-outline"></i></div>
                <h4 class="title"><a href="">Desmoronamento ...</a></h4>
                <p class="description">
                    ... vazamento acidental de água e esgoto
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-close-outline"></i></div>
                <h4 class="title"><a href="">Impacto de veículos ...</a></h4>
                <p class="description">
                    ... queda de aeronaves
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-flag-outline"></i></div>
                <h4 class="title"><a href="">Quebra de vidros ...</a></h4>
                <p class="description">
                    ... espelhos, mármores e granitos
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-box-outline"></i></div>
                <h4 class="title"><a href="">Roubo ou furto ...</a></h4>
                <p class="description">
                    ... qualificado de bens e/ou valores do condomínio
                </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><a href="">Vida em grupo ...</a></h4>
                <p class="description">
                    ... acidentes pessoais, auxílio funeral
                </p>
            </div>
            <div class="col-md-12" style="text-align:center !important;">
                @Html.ActionLink("Peça já sua cotação para a All Protection!", "Cotacao", "Cotacao",
               null, new { @class = "btn btn-primary active" })
            </div>
            <br />
        </div>

    </div>

</section>
