
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Quem Somos";
}
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="post-content post-single">
                    <div class="post-media post-image image-angle">
                        <img src="~/Content/topsystec/imgs/topsystec/news_img_750x450b.jpg" class="img-responsive" alt="">
                    </div>

                    <div class="post-body">
                        <div class="entry-header">
                            <div class="post-meta">
                                <span class="post-author">
                                    <i class="fa fa-user"></i><a href="#"> Admin</a>
                                </span>
                                <span class="post-cat">
                                    <i class="fa fa-folder-open"></i><a href="#"> News</a>
                                </span>
                                <span class="post-meta-date"><i class="fa fa-calendar"></i> June 14, 2016</span>
                                <span class="post-comment"><i class="fa fa-comment-o"></i> 03<a href="#" class="comments-link">Comments</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">We Just Completes $17.6 million Medical Clinic in Mid-Missouri</a>
                            </h2>
                        </div><!-- header end -->

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                            <p>Kucididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>

                            <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>

                            <blockquote>
                                <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.<cite>- Anger Mathe</cite></p>

                            </blockquote>

                            <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quira tione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ue magnam aliquam quaerat voluptatem.</p>
                        </div>

                        <div class="tags-area clearfix">
                            <div class="post-tags pull-left">
                                <a href="#">Construction</a>
                                <a href="#">Safety</a>
                                <a href="#">Planning</a>
                            </div>
                            <div class="share-items pull-right">
                                <ul class="post-social-icons unstyled">
                                    <li class="social-icons-head">Share:</li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- post-body end -->
                </div><!-- post content end -->

                <div class="author-box">
                    <div class="author-img pull-left">
                        <img src="~/Content/topsystec/imgs/news/avator1.png" alt="">
                    </div>
                    <div class="author-info">
                        <h3>Elton Themen<span>Site Engineer</span></h3>
                        <p>Lisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad vene minim veniam, quis nostrud exercitation nisi ex ea commodo.</p>
                        <p class="author-url">Website: <span><a href="#">http://www.example.com</a></span></p>

                    </div>
                </div> <!-- Author box end -->
                <!-- Post comment start -->

            </div><!-- Content Col end -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="sidebar sidebar-right">

                    <div class="widget recent-posts">
                        <h3 class="widget-title">Recent Posts</h3>
                        <ul class="unstyled clearfix">
                            <li>
                                <div class="posts-thumb pull-left">
                                    <a href="#"><img alt="img" src="~/Content/topsystec/imgs/news/news1.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">We Just Completes $17.6 Million Medical Clinic In Mid-missouri</a>
                                    </h4>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 1st post end-->

                            <li>
                                <div class="posts-thumb pull-left">
                                    <a href="#"><img alt="img" src="~/Content/topsystec/imgs/news/news2.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Thandler Airport Water Reclamation Facility Expansion Project Named</a>
                                    </h4>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 2nd post end-->

                            <li>
                                <div class="posts-thumb pull-left">
                                    <a href="#"><img alt="img" src="~/Content/topsystec/imgs/news/news3.jpg"></a>
                                </div>
                                <div class="post-info">
                                    <h4 class="entry-title">
                                        <a href="#">Silicon Bench And Cornike Begin Construction Solar Facilities</a>
                                    </h4>
                                </div>
                                <div class="clearfix"></div>
                            </li><!-- 3rd post end-->

                        </ul>

                    </div><!-- Recent post end -->

                    <div class="widget">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Commercial</a></li>
                            <li><a href="#">Building</a></li>
                            <li><a href="#">Safety</a></li>
                            <li><a href="#">Structure</a></li>
                        </ul>
                    </div><!-- Categories end -->

                    <div class="widget">
                        <h3 class="widget-title">Archives </h3>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li><a href="#">Feburay 2016</a></li>
                            <li><a href="#">January 2016</a></li>
                            <li><a href="#">December 2015</a></li>
                            <li><a href="#">November 2015</a></li>
                            <li><a href="#">October 2015</a></li>
                        </ul>
                    </div><!-- Archives end -->

                    <div class="widget widget-tags">
                        <h3 class="widget-title">Tags </h3>

                        <ul class="unstyled clearfix">
                            <li><a href="#">Construction</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Project</a></li>
                            <li><a href="#">Building</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Safety</a></li>
                            <li><a href="#">Contracting</a></li>
                            <li><a href="#">Planning</a></li>
                        </ul>
                    </div><!-- Tags end -->


                </div><!-- Sidebar end -->
            </div><!-- Sidebar Col end -->

        </div><!-- Main row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->
