@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/css/estilos.css" rel="stylesheet" />
    @Styles.Render("~/Content/css", "~/Content/assets/css/bootstrap.css",
    "~/Content/assets/css/bootstrap-responsive.css")
    <title></title>
</head>
<body>
    <div id="site">

        <div id="header"></div>
        <div id="conteudo">
            <img src="~/Content/img/logo/tecsistem_logo900x455.jpeg" style="max-width:50%" />
            <br />
            <a class="btn btn-color btn-rounded" href="mailto:agendamento@tecsistemsistemas.com.br">agendamento@tecsistemsistemas.com.br</a>
            
        </div>
        <div id="footer"></div>

    </div>
</body>
</html>
