@{
    ViewData["Title"] = "Home Page";
}

<section id="intro">
    <div class="intro-container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                    <ol class="carousel-indicators"></ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active">
                            <div class="carousel-background">
                                <img src="~/Content/img/intro-carousel/1.jpg" />
                            </div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Seguro Empresarial</h2>
                                    <p>
                                        Todas as Empresas enfrentam grandes desafios para se manterem competitivas no mercado. Por isso, o Seguro Empresarial se faz tão necessário para minimizar os riscos de seu negócio!
                                        Oferecemos as coberturas ideais para você ter mais segurança na sua empresa com o menor custo.
                                        Peça já sua cotação para a All Protection!
                                    </p>
                                    <a href="#about" class="btn-get-started scrollto">Saiba mais ...</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-background"><img src="~/Content/img/intro-carousel/5.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Seguro Auto</h2>
                                    <p>
                                        Proteja seu Automóvel dos riscos e tenha mais segurança para o seu dia a dia com um valor que cabe no bolso!
                                    </p>
                                    <a href="#facts" class="btn-get-started scrollto">Saiba mais ...</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-background"><img src="~/Content/img/intro-carousel/2.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Seguro Transporte</h2>
                                    <p>
                                        Pé na estrada e tranquilidade a cada minuto!! <br />
                                        O Seguro Transporte hoje se faz necessário e oferecemos as melhores opções do mercado de seguros para que você tenha segurança e proteção para seu caminhão e sua carga com o menor preço!
                                    </p>
                                    <a href="#facts2" class="btn-get-started scrollto">Saiba mais ...</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-background"><img src="~/Content/img/intro-carousel/3.jpg" alt=""></div>
                            <div class="carousel-container">
                                <div class="carousel-content">
                                    <h2>Seguro Condominial</h2>
                                    <p>
                                        A All Protection realizará um estudo personalizado para as necessidades de seguro em seu condomínio!
                                    </p>
                                    <a href="#services" class="btn-get-started scrollto">Saiba mais ...</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section><!-- #intro -->

<main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 box">
                    <i class="ion-model-s"></i>
                    <h4 class="title"><a href="#facts">Seguro Auto</a></h4>
                    <p class="description">
                        Seu veículo precisa de coberturas específicas? Temos as melhores opções...
                    </p>
                </div>

                <div class="col-lg-4 box box-bg">
                    <i class="ion-ios-location"></i>
                    <h4 class="title"><a href="#about">Seguro Empresarial</a></h4>
                    <p class="description">
                        No Seguro Empresarial, ajustamos sua apólice de acordo com os potenciais riscos ao seu negócio...
                    </p>
                </div>

                <div class="col-lg-4 box">
                    <i class="ion-ios-keypad"></i>
                    <h4 class="title"><a href="#facts2">Seguro Transporte</a></h4>
                    <p class="description">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                    </p>
                </div>

            </div>
        </div>
    </section><!-- #featured-services -->
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">

            <header class="section-header">
                <br />
                <h3><img src="~/Content/img/apc/logos/apc_logo_480x73.png" style="max-width:30%" /></h3>
                <h3>Seguro Empresarial na medida certa</h3>
                <p>
                    Foco nas metas e detalhes, dedicação total na busca de qualidade e agilidade. Não há tempo nem espaço para imprevistos. <br />
                    É aqui que entra o seguro empresarial, os riscos ao seu negócio serão mapeados e adequados a sua atividade comercial. <br />
                    Assim você se dedica ao que é mais importante e deixa sua segurança conosco.
                </p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/Content/img/about-mission.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Sem riscos</a></h2>
                        <p>
                            Apólices com coberturas flexíveis de acordo com as necessidades da empresa e sua atividade comercial.
                            <br /><br /><br />
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/Content/img/about-plan.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Resiliência</a></h2>
                        <p>
                            Recuperar rapidamente sua empresa dos danos que venham a acontecer no processo do seu negócio, desde pequenos ajustes a acidentes mais graves.
                            <br /><br />
                        </p>

                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="~/Content/img/about-vision.jpg" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Responsabilidade</a></h2>
                        <p>
                            O seguro empresarial pode garantir o pagamento de indenizações a veículos ou bens de terceiros que estejam sob a guarda do empregador, esta é a responsabilidade civil.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- #about -->
    <!--==========================
      facts Section
    ============================-->

    <section id="facts" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="container">

            <header class="section-header">
                <br />
                <h3><img src="~/Content/img/apc/logos/apc_logo_480x73.png" style="max-width:30%" /></h3>
                <h3>Seguro Auto</h3>
                <p>
                    Ótimo atendimento ao cliente, prezamos pelos direitos de nossos segurados e oferecemos coberturas completas, <br />
                    com o melhor preço e custo-benefício, podendo incluir coberturas adicionais para deixar seu seguro ainda mais completo.
                </p>
                <h4 style="font-weight:bold !important; text-align:center !important;">
                    Principais coberturas no Seguro Auto
                </h4>
            </header>

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">
                        1
                    </span>
                        <h4>Colisão</h4>
                    <p>
                        O sinistro mais comum, 75% das ocorrências.
                    </p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">
                        2
                    </span>
                        <h4>Roubo e Furto</h4>
                    <p>
                        Imprescindível nas grandes cidades, essencial para sua proteção
                    </p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">
                        3
                    </span>
                        <h4>Incêndio</h4>
                    <p>
                        Proteção do seu patrimônio, neste evento inesperado.
                    </p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">
                        4
                    </span>
                        <h4>Danos a Terceiros</h4>
                    <p>Sua segurança não depende só de você.</p>
                </div>

            </div>

            <div class="facts-img">
                <img src="~/Content/img/facts3.png" alt="" class="img-fluid">
            </div>

        </div>
    </section>

    <!-- #facts -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>
                    Seguro para o seu condomínio na medida certa, <br />
                    Ampla cobertura para atender seu condomínio.
                </h3>
            </header>

            <div class="row">
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-bolt-outline"></i></div>
                    <h4 class="title"><a href="">Incêndio ...</a></h4>
                    <p class="description">
                        ... queda de raio, explosão
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-lightbulb-outline"></i></div>
                    <h4 class="title"><a href="">Anúncios Luminosos ...</a></h4>
                    <p class="description">
                        ... assistência 24 horas para Condomínios
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">Alagamento ...</a></h4>
                    <p class="description">
                        ... enchente, inundação
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-checkmark-outline"></i></div>
                    <h4 class="title"><a href="">Danos elétricos ...</a></h4>
                    <p class="description">
                        ... equipamentos eletrônicos
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-rainy-outline"></i></div>
                    <h4 class="title"><a href="">Desmoronamento ...</a></h4>
                    <p class="description">
                        ... vazamento acidental de água e esgoto
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-close-outline"></i></div>
                    <h4 class="title"><a href="">Impacto de veículos ...</a></h4>
                    <p class="description">
                        ... queda de aeronaves
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-flag-outline"></i></div>
                    <h4 class="title"><a href="">Quebra de vidros ...</a></h4>
                    <p class="description">
                        ... espelhos, mármores e granitos
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-box-outline"></i></div>
                    <h4 class="title"><a href="">Roubo ou furto ...</a></h4>
                    <p class="description">
                        ... qualificado de bens e/ou valores do condomínio
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ion-ios-people-outline"></i></div>
                    <h4 class="title"><a href="">Vida em grupo ...</a></h4>
                    <p class="description">
                        ... acidentes pessoais, auxílio funeral
                    </p>
                </div>
            </div>

        </div>
    </section><!-- #services -->
    <!--==========================
      Skills Section
    ============================-->
    @*<section id="skills">
            <div class="container">
                <header class="section-header">
                    <h3>Nossas especialidades em Seguros</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </header>

                <div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Seguro Transporte <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Seguro Automóvel <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Seguro Vida <i class="val">75%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Demais seguros <i class="val">55%</i></span>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@

    <!--==========================
      facts2 Section
    ============================-->

    <section id="facts2" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <div class="container">

            <header class="section-header">
                <br />
                <h3><img src="~/Content/img/apc/logos/apc_logo_480x73.png" style="max-width:30%" /></h3>
                <h3>Seguro Transporte</h3>
                <h4 style="font-weight:bold !important; text-align:center !important;">
                    O Seguro Transporte é a modulo que defende suas operações de transporte e dos riscos atuais para cargas e veículos
                </h4>
            </header>

                <div class="row counters">

                    <div class="col-lg-4 col-8 text-center">
                        <span data-toggle="counter-up" style="font-weight:bold !important; ">
                            100
                        </span>
                            <h4>Carga</h4>
                        <p></p>
                    </div>

                    <div class="col-lg-4 col-8 text-center" style="font-weight:bold !important; ">
                        <span data-toggle="counter-up">
                            200
                        </span>
                            <h4>Caminhões</h4>
                        <p></p>
                    </div>

                    <div class="col-lg-4 col-8 text-center"style="font-weight:bold !important; ">
                        <span data-toggle="counter-up">
                            300
                        </span>
                            <h4>VUCs</h4>
                        <p></p>
                    </div>
                </div>

                @*<div class="facts-img">
                <img src="~/Content/img/facts3.png" alt="" class="img-fluid">
            </div>*@

            </div>
</section>

    <!-- #facts2 -->
    <!--==========================
      Clients Section
    ============================-->
    @*<section id="clients" class="wow fadeInUp">
        <div class="container">

            <header class="section-header">
                <h3>Nossos Clientes</h3>
            </header>

            <div class="owl-carousel clients-carousel">
                <img src="~/Content/img/clients/client-1.png" alt="">
                <img src="~/Content/img/clients/client-2.png" alt="">
                <img src="~/Content/img/clients/client-3.png" alt="">
                <img src="~/Content/img/clients/client-4.png" alt="">
                <img src="~/Content/img/clients/client-5.png" alt="">
                <img src="~/Content/img/clients/client-6.png" alt="">
                <img src="~/Content/img/clients/client-7.png" alt="">
                <img src="~/Content/img/clients/client-8.png" alt="">
            </div>

        </div>
    </section>*@<!-- #clients -->

</main>

