@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Informatica";
}

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/services/img_servicos360x260_5.png" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="~/Content/topsystec/images/icon-image/service-icon1.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title"><a href="service-single.html">Informática 1</a></h3>
                        <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
                        <p><a class="learn-more" href="service-single.html"><i class="fa fa-caret-right"></i> Learn More</a></p>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-md-4">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/services/img_servicos360x260_2.png" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="~/Content/topsystec/images/icon-image/service-icon2.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title"><a href="service-single.html">Informatica 2</a></h3>
                        <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
                        <p><a class="learn-more" href="service-single.html"><i class="fa fa-caret-right"></i> Learn More</a></p>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-md-4">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/services/img_servicos360x260_3.png" alt="">
                    </div>
                    <div class="ts-service-box-img pull-left">
                        <img src="~/Content/topsystec/images/icon-image/service-icon3.png" alt="" />
                    </div>
                    <div class="ts-service-info">
                        <h3 class="service-box-title"><a href="service-single.html">Informática 3</a></h3>
                        <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
                        <p><a class="learn-more" href="service-single.html"><i class="fa fa-caret-right"></i> Learn More</a></p>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 3 end -->

            <div class="gap-30"></div>

        </div><!-- Main row end -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="column-title">Testimonials</h3>

                <div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Question ran over her cheek When she reached the first hills of the Italic Mountains, she had a last
                                view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the
                                subline of her own road.
                            </span>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="~/Content/topsystec/images/clients/testimonial1.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Gabriel Denis</h3>
                                    <span class="quote-subtext">Chairman, OKT</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 1 end -->

                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
                                nisi aliquip consequat.
                            </span>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="~/Content/topsystec/images/clients/testimonial2.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Weldon Cash</h3>
                                    <span class="quote-subtext">CFO, First Choice</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 2 end -->

                    <div class="item">
                        <div class="quote-item">
                            <span class="quote-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris
                                nisi ut commodo consequat.
                            </span>

                            <div class="quote-item-footer">
                                <img class="testimonial-thumb" src="~/Content/topsystec/images/clients/testimonial3.png" alt="testimonial">
                                <div class="quote-item-info">
                                    <h3 class="quote-author">Minter Puchan</h3>
                                    <span class="quote-subtext">Director, AKT</span>
                                </div>
                            </div>
                        </div><!-- Quote item end -->
                    </div>
                    <!--/ Item 3 end -->

                </div>
                <!--/ Testimonial carousel end-->
            </div><!-- Col end -->

            <div class="col-md-6">

                <h3 class="column-title">Happy Clients</h3>

                <div class="row all-clients">
                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client1.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 1 end -->

                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client2.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 2 end -->

                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client3.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 3 end -->

                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client4.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 4 end -->

                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client5.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 5 end -->

                    <div class="col-sm-4">
                        <figure class="clients-logo">
                            <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/clients/client6.png" alt="" /></a>
                        </figure>
                    </div><!-- Client 6 end -->

                </div><!-- Clients row end -->

            </div><!-- Col end -->

        </div>
        <!--/ Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Content end -->
